* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Barlow, sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
}

.container {
  width: 85%;
  max-width: 144rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.bg-square-blue {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 80px;
  background-color: #eef3f6;
  width: 50vw;
  height: 51vh;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .bg-square-blue {
    height: 56vh;
    border-bottom-left-radius: 60px;
  }
}

.header {
  padding-top: 6rem;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.header .menu__link {
  font-size: 1.6rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header .menu__link:last-child {
  margin-left: 5rem;
  list-style: initial;
  padding-left: 5rem;
  color: #a0a1ac;
}

.header .menu__link:last-child:hover {
  text-decoration: underline;
}

.header .menu__link:hover {
  text-decoration: underline;
}

.header .nav-mobile {
  display: none;
  position: relative;
}

.header .nav-mobile .btn-menu {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 25px;
  height: 20px;
  padding: 0 1rem;
  cursor: pointer;
}

.header .nav-mobile .btn-menu .menu-line {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-bottom: 4px;
}

.header .nav-mobile .btn-menu .line-1, .header .nav-mobile .btn-menu .line-3 {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.header .nav-mobile .btn-menu-open {
  background-color: transparent;
}

.header .nav-mobile .btn-menu-open .menu-line {
  margin-bottom: 0;
}

.header .nav-mobile .btn-menu-open .line-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.header .nav-mobile .btn-menu-open .line-2 {
  display: none;
}

.header .nav-mobile .btn-menu-open .line-3 {
  position: relative;
  top: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .nav-mobile .mobile-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 288px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2rem;
  background: white;
  padding: 2rem;
  z-index: 2;
  text-align: center;
  border-radius: .5rem;
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.header .nav-mobile .mobile-menu__link {
  font-size: 1.6rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header .nav-mobile .mobile-menu__link:last-child {
  border-top: 2px solid #eef3f6;
  padding-top: 2rem;
  color: #a0a1ac;
}

.header .nav-mobile .mobile-menu__link a {
  display: inline-block;
  width: 100%;
}

.header .nav-mobile .mobile-menu__link a:hover {
  text-decoration: underline;
}

.header .nav-mobile .open-menu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 900px) {
  .header {
    padding-top: 4rem;
  }
  .header .logo {
    width: 25px;
  }
  .header .logo img {
    width: 100%;
  }
  .header .nav {
    display: none;
  }
  .header .nav-mobile {
    display: block;
  }
}

.footer {
  width: 100%;
}

.footer .attribution {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.footer .attribution a {
  color: #3e52a3;
}

main {
  height: 100%;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

.section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.section__info {
  width: 45%;
  margin-top: 5rem;
}

.section__img-devices {
  width: 55%;
  position: absolute;
  right: -6vw;
  max-width: 1100px;
}

@media screen and (max-width: 900px) {
  .section {
    margin-top: 3rem;
    height: 80%;
  }
  .section__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8rem;
  }
  .section__info {
    width: 100%;
    margin-top: 0;
  }
  .section__img-devices {
    width: 500px;
    right: 20px;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .section__img-devices img {
    width: 100%;
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.text-emphasis {
  background-color: #242942;
  padding: .4rem 1rem;
  border-radius: 20px;
  font-size: 1.6rem;
  font-family: Barlow Condensed, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #eef3f6;
}

@media screen and (max-width: 900px) {
  .text-emphasis {
    font-size: 1.4rem;
  }
}

.text-spaced-sm {
  font-size: 1.6rem;
  font-family: Barlow Condensed, sans-serif;
  letter-spacing: .3rem;
  color: #a0a1ac;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .text-spaced-sm {
    font-size: 1.4rem;
  }
}

.text-spaced-md {
  font-size: 1.6rem;
  font-family: Barlow Condensed, sans-serif;
  letter-spacing: .5rem;
  color: #a0a1ac;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .text-spaced-md {
    font-size: 1.4rem;
  }
}

.h1 {
  margin-top: 1rem;
  font-size: 6.5rem;
  font-family: Barlow Condensed, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #242942;
}

@media screen and (max-width: 900px) {
  .h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }
}

.paragraph {
  margin-top: 2rem;
  width: 45%;
  font-size: 1.6rem;
  color: #5b5f71;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  .paragraph {
    margin-top: 1rem;
    width: 80%;
    margin-bottom: 2rem;
  }
}

.btn {
  font-size: 1.6rem;
  font-family: Barlow Condensed, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #eef3f6;
  padding: 1.5rem 4rem;
  border-radius: .5rem;
}

@media screen and (max-width: 900px) {
  .btn {
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
  }
}

.btn-call {
  background-color: #ff5c5c;
}

.btn-call:hover {
  background-color: #ff8f8f;
}
/*# sourceMappingURL=main.css.map */